@font-face {
    font-family: "lord";
    src: url("font.ttf") format("truetype");
}

#all
{
    position: absolute;
    left: 60vw;
    background-color: crimson;
}

.test
{
    display: inline-flex;
    text-overflow: ellipsis;
    width: 150px;
    white-space: nowrap;
}

.ui
{
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 5px rgb(38,38,38) solid;
}

#ui
{
   margin-left:20px;
   margin-right: 20px;
}

#stats
{
    position:relative; 
    background-color: rgb(48,48,48); 
    text-align: center;
}

#select
{
    position:relative; 
    background-color: rgb(48,48,48); 
    text-align: center;
}

#select *
{
    width: 60px;
    height: 60px;
    margin: 10px;
    user-select: none;
    cursor: pointer;
}

#cost
{
    position:relative; 
    background-color: rgb(48,48,48); 
    text-align: center;
}

#music
{
    position:relative;
    background-color: rgb(48,48,48); 
    font-family: "lord";
    font-size: 25px;
    text-align: center; 
    line-height: 48px;
    color: rgb(233,233,233);

    user-select: none;
    cursor: pointer;
}

#binds
{
    position:relative; 
    background-color: rgb(48,48,48); 
    text-align: center;
    font-family: 'lord';
    font-size: 24px;
    line-height: 65px;
    color: rgb(233,233,233);
}

.ui_text
{
    font-family: 'lord';
    font-size: 35px;
    line-height: 65px;
    color: rgb(233,233,233);
    position: relative;
    left: -2px;
}

body {
    background-color: rgb(28,28,28);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    user-select:none;
}

canvas
{
    position: absolute;
    left: 15vw;
    border-radius: 15px;
    outline: 2px rgba(233,233,233,0.3) solid;
}