#select
{
    position:absolute; 
    background-color: blueviolet; 
    width: 200px; 
    height: 640px; 
    left: 650px;
    text-align: center;
}

#select *
{
    width: 60px;
    height: 60px;
    margin: 10px;
    user-select: none;
    cursor: pointer;
}

#freeblock
{
    background-color: green;
    line-height: 55px;
    font-family: arial;
}

#freeblock:active
{
    background-color: darkgreen;
}

#spawner
{
    background-color: pink;
    line-height: 55px;
    font-family: arial;
}

#spawner:active
{
    background-color: palevioletred;
}

#conveyor
{
    background-color: gray;
    font-size: 32px;
    line-height: 52px;
}

#conveyor:active
{
    background-color: rgb(84, 84, 84);
}
